# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
# Ignore environment files
.env
config/config.env

# production
/build
/.cache

# misc
.DS_Store
.env
.env.*
.npmrc

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
